@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-secondary {
		@apply inline-flex items-center px-4 py-2 bg-secondary-500 text-white font-semibold rounded-full shadow-sm hover:bg-secondary-600 focus:outline-none focus:ring-2 focus:ring-secondary-300;
	}

	.card {
		@apply bg-beige-50 border border-beige-200 rounded-xl shadow-md p-4;
	}

	.card-strong {
		@apply bg-beige-100 border border-beige-200 rounded-2xl shadow-lg p-6;
	}
}
